// Typography

html {
  font-size: 100%;
}

body,
input,
.input,
button,
.button {
  font-family: Helvetica, Arial, sans-serif;
  font-size: .875em;
}


h1, h2, h3, h4, h5 {
  font-family: Georgia, serif;
}

p {
  max-width: 74ch;
}

a {
  color: semantic-color(call-to-action, dark);
  text-decoration: none;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: semantic-color(call-to-action, light);

  &:focus {
    outline-offset: 1px;
  }
}
