// Typography

html {
  font-size: 100%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: .875em;
}


h1, h2, h3, h4, h5 {
  font-family: Georgia, serif;
}

p {
  max-width: 74ch;
}
